@font-face {font-family: Pacifico; src: url('/fonts/Pacifico/Pacifico-Regular.ttf'); }



:root{
    --shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    --color1: #FF8C94;
    }

body {
    background-color: #A8E6CE;
}

#introContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#introContainer > h1 {
    font-family: Pacifico, sans-serif;
}

#nameInput {
    border-radius: 6px;
    background-color: #FF8C94;
    font-weight: 900;
    color:white;
    margin-bottom:  0.5rem;
}

#startBtn {
    border-radius: 16px;
    background-color: #FFD385;
}

#container {
    display: grid;
    height: 45vh;
    width: 45vw;
    min-width: 420px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 100px;
    background: var(--color1);
    border-radius: 2rem;
    box-shadow: var(--shadow);
}

.box {
    height: 15vh;
    width: 15vw;
    min-width: 140px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    font-size: 7rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pacifico, sans-serif;
    background-color: #FFD385;
}



.box:hover {
    cursor: crosshair;
    background-color: #FFAAA6;
}

#startBtn {
    width: 6vw;
    height: 3vh;
    color: black;
    min-height: 22px;
    min-width: 44px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Pacifico, sans-serif;
    font-size: 3rem;

}

#textBox {
    border: 1px solid black;
    overflow-y: scroll;
    margin: 0.5rem 3rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    background-color: #DCEDC2;
    box-shadow: var(--shadow);

}

.text {
    margin: .3rem;
}

#appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#humanDiv {
    position:absolute;
    top: 10px;
    left: 15px;
    background-color: #FFAAA6;
    padding: 0 1rem;
    border-radius: 10px;
    font-family: Pacifico, sans-serif;
}

#computerDiv {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: #FFAAA6;
    box-shadow: var(--shadow);
    font-family: Pacifico, sans-serif;
}

#replayBtn {
    border-radius: 12px;
    background-color: #FFAAA6;
    margin-bottom: 0.8rem;
}